@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --dark: #120C12;
  --dark-shade: #20161F;
  --light: #9B9489;
  --light-shade: #756E63;
  --accent: #DB924B;
  --primary-font: 'Roboto', sans-serif;
}

/*=============================================
=            CSS reset            =
=============================================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

/*=====  End of CSS reset  ======*/

body {
  font-family: var(--primary-font);
  background: var(--light);
}

section {
  display: grid;
  place-content: center;
  padding: 5rem 13rem;
}

.grey-bg {
  background-color: var(--light-shade);
  color: var(--dark-shade);
}

.accent-bg {
  background-color: var(--accent);
  color: var(--dark-shade);
}

.dark-bg {
  background-image: linear-gradient(45deg,
      hsl(300deg 20% 6%) 0%,
      hsl(301deg 19% 6%) 4%,
      hsl(301deg 19% 7%) 7%,
      hsl(302deg 18% 7%) 12%,
      hsl(303deg 18% 8%) 17%,
      hsl(304deg 18% 8%) 22%,
      hsl(304deg 17% 9%) 28%,
      hsl(304deg 17% 9%) 35%,
      hsl(304deg 17% 9%) 43%,
      hsl(305deg 18% 10%) 53%,
      hsl(305deg 18% 10%) 66%,
      hsl(306deg 19% 11%) 99%);
  color: var(--light);
}

.light-bg {
  background-color: var(--light);
  color: var(--dark);
}

.btn {
  background: var(--btn-bg);
  color: var(--btn-color);
  font-weight: 500;
  border: var(--btn-border);
  padding: 0.5em 3em;
  margin-block: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: ease-out 0.4s;
}

.btn:hover {
  color: var(--btn-color-hover);
  border: var(--btn-border-hover);
  box-shadow: inset 200px 0 0 0 var(--btn-bg-hover);
}


/*=============================================
=            Header section            =
=============================================*/

.hero {
  padding-inline: 10rem;
}



/*----------  Navigation bar  ----------*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-block: 1em;
  gap: 0.5em;
}

.header-logo {
  font-size: 1.5rem;
  font-weight: 600;
}

nav ul {
  display: flex;
  gap: 1em;
  color: var(--light-shade);
  font-size: 1.125rem;
  font-weight: 300;
}

.nav-link {
  position: relative;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--accent);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .nav-link:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

/*----------  Hero section  ----------*/

.hero-section {
  padding-block: 5em;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.hero-section > * {
  flex: 1;
}

.hero-title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
}

.hero-text {
  color: var(--light-shade);
  font-size: 1.125rem;
  font-weight: 300;
}

.hero-img {
  opacity: 0.7;
}

.btn-hero {
  --btn-bg: var(--accent);
  --btn-color: var(--dark-shade);
  --btn-border: none;
  --btn-bg-hover: var(--light-shade);
  --btn-color-hover: var(--accent);
  --btn-border-hover: none;
}

/*=====  End of Header section  ======*/


/*=============================================
=            Random info section            =
=============================================*/

.section-title {
  font-size: 2.25rem;
  text-align: center;
  padding-bottom: 1em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.flex-container > * {
  flex: 1;
}

.card img {
  aspect-ratio: 1 /1;
  object-fit: cover;
  border-radius: 1em;
  border: 4px solid var(--accent);
}

.card .img-container {
  position: relative;
  overflow: hidden;
}

.card .img-container::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.card .img-container:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.card figcaption {
  padding-block: 1em;
  text-align: center;
  font-size: 0.9em;
}

/*=====  End of Random info section  ======*/


/*=============================================
=            Quote section            =
=============================================*/

.quote {
  font-size: 2.25rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1.3;
}

.quote-author {
  font-weight: 600;
  text-align: right;
}

.quote-author::before {
  content: '- ';
}

/*=====  End of Quote section  ======*/


/*=============================================
=            CTA section            =
=============================================*/

.cta-section {
  border-radius: 1em;
  margin: 5rem 10rem;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 4rem;
  gap: 1rem;
  justify-content: space-evenly;
}

.btn-cta {
  --btn-bg: none;
  --btn-color: var(--dark-shade);
  --btn-border: 2px solid var(--dark-shade);
  --btn-bg-hover: var(--dark-shade);
  --btn-color-hover: var(--accent);
  --btn-border-hover: 2px solid var(--accent);
}

/*=====  End of CTA section  ======*/





/*=============================================
=            Responsive layout            =
=============================================*/

@media screen and (max-width: 800px) {

  .hero,
  section {
    padding-inline: 2rem;
  }

  .cta-section {
    margin-inline: 2rem;
  }

  nav,
  nav ul,
  .hero-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

/*=====  End of Responsive layout  ======*/